header {
  height: $navbarHeight;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;

  .PCNav li {
    display: inline-block;
    
    a {
      margin: 10px;
      padding: 10px 15px;
      font-size: 0.9rem;
    }
  }

  li:not(:last-child) a {
    transition: all 300msease-in-out;
    position: relative;
    &::after {
      position: absolute;
      bottom: 0;
      right: 0;
      display: block;
      content: "";

      width: 0%;
      height: 3px;
      background-color: $themeColor;
      border-radius: 30px;

      transition: all 300ms ease-in-out;
    }
    &:hover::after {
      width: 100%;
    }
    &:hover {
      color: $themeColor;
    }
  }
    
  li:last-child a{
    margin-left: 20px;
    padding: 10px 20px;
    background-color: $themeColor;
    border-radius: 30px;
    color: #fff;

    border-radius: 30px;
    transition: all 200ms ease-in-out;
    &:hover {
      opacity: 0.6;
    }
    
  
  }

  .brandLogo {
    text-align: center;
    @include breakpoint-down(medium){
      width: 100%;      
    }

    .logo {
      font-size: 1.5rem;
      font-weight: 700;
    }
  }
  .hamburger {
    >div {
      width: 30px;
      height: 2px;
      margin: 7px;
      background-color: $themeColor;
    }
  }
}




