/* -----------------------------
.          COLORS
----------------------------- */
/* -----------------------------
.          FONT SIZES
----------------------------- */
/* -----------------------------
.          SETTINGS
----------------------------- */
/* ---------------------------
.        MEDIA QUERIES
--------------------------- */
@media (max-width: 63.9375em) {
  .hideOnMobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hideOnPC {
    display: none;
  }
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Public Sans', sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  color: #2d314d;
  line-height: 1.3;
  min-height: 350vh;
  overflow-x: hidden;
  background-color: #f7f8fa;
}

@media (min-width: 64em) {
  body {
    font-size: 1.125rem;
  }
}

body.noscroll {
  overflow: hidden;
}

/* ---------------------------
.           SCROLL
--------------------------- */
body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #f00;
}

/* ---------------------------
.           DEFAULTS
--------------------------- */
a, a:visited, a:hover {
  text-decoration: none;
}

.mobileNav {
  background-color: #fff;
  position: fixed;
  top: 60px;
  bottom: 0;
  right: 0;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  transition: all 300ms ease-in-out;
  transform: translateX(300px);
}

.mobileNav div {
  margin: 0;
  width: 250px;
  height: 100%;
}

.mobileNav div li {
  width: 100%;
  margin: 5px 0px;
  padding: 10px;
  background-color: rgba(0, 0, 255, 0.3);
  list-style: none;
}

.mobileNav div li a {
  color: #fff;
}

.mobileNav div li a i {
  margin-right: 10px;
}

.mobileNav div li:hover {
  border-left: 5px solid #f00;
}

.mobileNav.open {
  transform: translateX(0px);
}

/* ---------------------------
.         overlay
--------------------------- */
.overlay {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  transition: all 300ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.2);
}

.overlay.open {
  opacity: 1;
  pointer-events: all;
}

/* ---------------------------
.         hamburger
--------------------------- */
.hamburger {
  position: absolute;
  top: 14px;
  right: 25px;
  cursor: pointer;
  transition: all 1300ms ease-in-out;
}

.hamburger div {
  width: 25px;
  height: 2px;
  margin: 7px;
  background-color: #f00;
}

.hamburger.open > div:first-child {
  transform: translateY(9px) rotate(135deg);
}

.hamburger.open > div:nth-child(2) {
  opacity: 0;
}

.hamburger.open > div:last-child {
  transform: translateY(-9px) rotate(-135deg);
}

/* ---------------------------
.         header
--------------------------- */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0px 30px;
  background-color: #ffffff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

header .brandLogo {
  font-size: 1.25rem;
  font-weight: 800;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 63.9375em) {
  header .brandLogo {
    width: 100%;
  }
}

header .PCNav li {
  display: inline-block;
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #ddd;
  font-size: 0.8rem;
}

main {
  margin-top: 60px;
}
/*# sourceMappingURL=style.css.map */