/* -----------------------------
.          COLORS
----------------------------- */
/* -----------------------------
.          FONT SIZES
----------------------------- */
/* -----------------------------
.          SETTINGS
----------------------------- */
/* ---------------------------
.        MEDIA QUERIES
--------------------------- */
@media (max-width: 63.9375em) {
  .hideOnMobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hideOnPC {
    display: none;
  }
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Public Sans', sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  color: #2d314d;
  line-height: 1.3;
  min-height: 350vh;
  overflow-x: hidden;
  background-color: #f7f8fa;
}

@media (min-width: 64em) {
  body {
    font-size: 1.125rem;
  }
}

body.noscroll {
  overflow: hidden;
}

/* ---------------------------
.           SCROLL
--------------------------- */
body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #f00;
}

/* ---------------------------
.           DEFAULTS
--------------------------- */
a, a:visited, a:hover {
  text-decoration: none;
}

.mobileNav ul li {
  margin: 5px;
  padding: 10px;
  background-color: rgba(255, 0, 0, 0.5);
  list-style: none;
}

/* ---------------------------
.         overlay
--------------------------- */
.overlay {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.1);
}

/* ---------------------------
.         hamburger
--------------------------- */
.hamburger {
  position: absolute;
  top: 14px;
  right: 25px;
  cursor: pointer;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.hamburger div {
  width: 25px;
  height: 2px;
  margin: 7px;
  background-color: #f00;
}

.hamburger:hover > div:first-child {
  -webkit-transform: translateY(9px) rotate(135deg);
          transform: translateY(9px) rotate(135deg);
}

.hamburger:hover > div:nth-child(2) {
  opacity: 0;
}

.hamburger:hover > div:last-child {
  -webkit-transform: translateY(-9px) rotate(-135deg);
          transform: translateY(-9px) rotate(-135deg);
}

/* ---------------------------
.         header
--------------------------- */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  padding: 0px 30px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
          box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

header .brandLogo {
  font-size: 1.25rem;
  font-weight: 800;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 63.9375em) {
  header .brandLogo {
    width: 100%;
  }
}

header .PCNav li {
  display: inline-block;
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #ddd;
  font-size: 0.8rem;
}

main, .mobileNav {
  margin-top: 60px;
}
/*# sourceMappingURL=style.css.map */