@import './mobileNav';

header {
  position: fixed;
  top: 0;
  width: 100vw;
  
  z-index: 5;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 30px;
  height: $navbarHeight;
  background-color: $navbarBG;


  ul.PCNav li {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    // background-color: #ddd;
    
    a{
      color: $navFontColor;
    }

    transition: $navTransition;

    &:hover {
      a {
        // color: $themeColor;
        color: complement($navFontColor);
        border-bottom: 3px solid $navFontColor;
        padding-bottom: 10px;
      }
    }
  }


  .brandLogo {
    text-align: center;
    color: $navFontColor;

    span.logo {
      cursor: pointer;
      font-size: 2.5rem; 
      font-family: Aladin;
    }


    @include breakpoint-down(medium){
      width: 100%;
    }
  }



  .hamburger {
    

    >div {
      width: 30px;
      height: 2px;
      margin: 7px;

      // background-color: $themeColor;
      background-color: $navFontColor;
      transition: $navTransition;
    }

    &.open {
      >div:first-child {
        @include transform('translateY(9px) rotate(135deg)');
      }
      >div:nth-child(2) {
        opacity: 0;
      }
      >div:last-child {
        @include transform('translateY(-9px) rotate(-135deg)');
      }
    }
  }
}




.overlay {
  position: fixed;
  top: $navbarHeight;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;

  clip-path: circle(0% at 100% 0%);

  // opacity: 0;
  pointer-events: none;
  transition: $navTransition;

  background-color: rgba($color: #000000, $alpha: 0.2);

  &.open {
    cursor: pointer;
    clip-path: circle(150% at 100% 0%);

    // opacity: 1;
    pointer-events: all;
  }
}