/* -----------------------------
.          COLORS
----------------------------- */
/* ----------------------------
.          SETTINGS
---------------------------- */
/* ---------------------------
.        MEDIA QUERIES
--------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Aladin&family=Potta+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");
@media (max-width: 63.9375em) {
  .hideOnMobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hideOnPC {
    display: none;
  }
}

html {
  height: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* --------------------------------
.             body
-------------------------------- */
body {
  margin: 0;
  padding: 0;
  background-color: #dfdfdf;
  overflow-x: hidden;
  color: #2d314d;
  font-family: sans-serif;
}

body.noscroll {
  overflow: hidden;
}

/* ---------------------------
.           SCROLL
--------------------------- */
body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: #0099ff;
  border: 3px solid #ff6600;
}

/* -------------------------
.         defaults
------------------------- */
a, a:visited, a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

.mobileNav {
  position: fixed;
  top: 60px;
  right: 0;
  bottom: 0;
  z-index: 10;
  width: 250px;
  background-color: #fff;
  transition: all 300ms ease-in-out;
  clip-path: circle(0% at 100% 0%);
}

.mobileNav > div {
  width: 100%;
  height: 100%;
}

.mobileNav > div li {
  margin: 5px 0px;
  padding: 10px 20px;
  letter-spacing: 1.3px;
}

.mobileNav > div li a {
  color: #2d314d;
}

.mobileNav > div li:hover {
  border-left: 5px solid #0099ff;
}

.mobileNav.open {
  clip-path: circle(150% at 100% 0%);
}

header {
  user-select: none !important;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 60px;
  background-color: #0099ff;
}

header ul.PCNav li {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  transition: all 300ms ease-in-out;
}

header ul.PCNav li a {
  color: #fff;
}

header ul.PCNav li:not(.signUP):hover a {
  color: white;
  border-bottom: 3px solid #fff;
  padding-bottom: 10px;
}

header ul.PCNav li.signUP {
  background-color: #dfdfdf;
  border-radius: 30px;
}

header ul.PCNav li.signUP a {
  color: #0099ff;
}

header .brandLogo {
  text-align: center;
  color: #fff;
}

header .brandLogo a.logo {
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
  font-family: Aladin;
}

@media (max-width: 63.9375em) {
  header .brandLogo {
    width: 100%;
  }
}

header .hamburger > div {
  width: 30px;
  height: 2px;
  margin: 7px;
  background-color: #fff;
  transition: all 300ms ease-in-out;
}

header .hamburger.open > div:first-child {
  -khtml-transform: translateY(9px) rotate(135deg);
  transform: translateY(9px) rotate(135deg);
}

header .hamburger.open > div:nth-child(2) {
  opacity: 0;
}

header .hamburger.open > div:last-child {
  -khtml-transform: translateY(-9px) rotate(-135deg);
  transform: translateY(-9px) rotate(-135deg);
}

.overlay {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  clip-path: circle(0% at 100% 0%);
  pointer-events: none;
  transition: all 300ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.2);
}

.overlay.open {
  cursor: pointer;
  clip-path: circle(150% at 100% 0%);
  pointer-events: all;
}

.landingLogo {
  position: relative;
  display: flex;
  justify-content: center;
}

.landingLogo .logoImage {
  width: 300px;
  height: 300px;
  background: url("/images/Wallpaper.jpg") top/cover;
  position: relative;
  margin-top: 20px;
}

.landingLogo .logoImage:hover {
  top: -6px;
  left: -6px;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
}

p {
  margin: 20px;
  text-align: justify;
  text-indent: 50px;
}

h2 {
  margin: 20px;
}

h1 {
  text-align: center;
  font-family: "Potta One";
  font-weight: 300;
  text-decoration: underline;
  position: relative;
}

form {
  position: relative;
  margin: 0 auto;
  width: 350px;
  border-radius: 20px;
  padding: 30px 30px;
  background-color: #eaeaea;
  font-size: 1.2rem;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.03) -6px -6px 6px rgba(255, 255, 255, 0.03);
  transform: scale(0.9);
}

form div {
  margin-bottom: 25px;
}

form div label {
  display: block;
}

form div textarea {
  margin: 10px;
  padding: 20px;
  width: 100%;
  height: 100px;
  border-radius: 10px;
}

form div input {
  margin: 0;
  display: block;
  margin-left: 10px;
  border: none;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  outline: none;
  width: 100%;
}

form .btnHolder {
  text-align: right;
  user-select: none !important;
}

form .btnHolder span {
  user-select: none;
  background-color: #0099ff;
  padding: 10px;
  background-color: #0099ff;
  color: #fff;
  border-radius: 20px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  cursor: pointer;
}

.aboutP {
  position: relative;
}

main {
  min-height: 100vh;
}

footer {
  background-color: #0099ff;
  height: 120px;
  text-align: center;
  padding-top: 30px;
  color: #fff;
  font-size: 0.9rem;
  position: relative;
}

svg.footerSVG {
  position: relative;
  top: 5px;
}

svg.headerSVG {
  position: absolute;
  top: 20px;
  transform: rotateZ(180deg) rotateY(180deg);
}

@media (max-width: 63.9375em) {
  svg.headerSVG {
    top: 50px;
  }
}

main {
  margin: 100px auto 60px auto;
  overflow: auto;
  max-width: 900px;
}
/*# sourceMappingURL=style.css.map */