.headerSVG {
  transform: rotateZ(180deg) rotateY(180deg);
  position: absolute;
  z-index: -1;
  top: $navbarHeight - 2px;  
}

.footerSVG {
  position: relative;
  bottom: -5px;  
  z-index: -1;
  // display: none;
}


main {  
  margin: $navbarHeight 0px 40px 0px;    
  overflow-x: hidden;
  
  

  .landingSection {    

    display: flex;
    justify-content: center;
    align-items: center;

    flex-flow: row-reverse;
    flex-wrap: wrap;
    gap: 50px;

    margin: 0 10px;

    .landingImageHolder {
    
      .landingImage {      
        margin: 20px auto;      
  
        
  
        position: relative;
  
        height: 300px;
        width: 300px;
        border-radius: 50%;
        background: url("/images/Robert.jpg") center/cover;
  
  
        &::after {
          display: block;
          content: "";
          
          position: absolute;
          z-index: -1;
          
          width: 100%;
          height: 110%;
  
          background-color: red;
          box-shadow: 3px 3px 3px rgba($color: #000000, $alpha: 0.2),
          3px -3px 3px rgba($color: #000000, $alpha: 0.3);
          border-radius: 50%;
  
          transform: rotateZ(135deg) translate(-3%, 3%);
  
        }      
       
  
        &::before {
          display: block;
          content: "";
          
          position: absolute;
          z-index: -1;
          
          width: 100%;
          height: 110%;
  
          background-color: #fff;
          box-shadow: -3px -3px 3px rgba($color: #000000, $alpha: 0.2),
          3px 3px 3px rgba($color: #000000, $alpha: 0.3);
          border-radius: 50%;
  
          transform: rotateZ(-135deg) translate(3%, 3%);
  
        }      
  
  
      }
    
    
    
         
     
    }
 
    

    .landingTextHolder {
      .hi {
        background-color: #ddd;
        padding: 10px 20px;
        width: 60px;
        border-radius: 30px;
      }

      .landingMainText {
        font-size: 3rem;
      }
    }
  }


}