main {
  min-height: calc(100vh - #{$navHeight});
  margin-bottom: -$footerHeight;
}

main::after, footer {
  display: block;
  content: "";

  height: $footerHeight;
}

footer {
  background-color: $themeColor;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;

  .copyright {
    font-size: 0.7rem;

  }
}