.mobileNav {
  background-color: #fff;
  position: fixed;
  top: $navBarHeight;
  bottom: 0;
  right: 0;

  box-shadow: $awesomeShadow;
  transition: all 300ms ease-in-out;
  transform: translateX(300px);


   div {
     margin: 0;
     
    //  margin-top: 50px;
    
     width: 250px;
     height: 100%;
     
     
      li {       
      width: 100%;
       margin: 5px 0px;
       padding: 10px;
       background-color: rgba($color: #00f, $alpha: 0.3);
       list-style: none;

       a{
         i{
           margin-right: 10px;
        }
        color: #fff;



      }
      
      &:hover {
        border-left: 5px solid #f00;          
      }
      
    }



   }
}



.mobileNav {
  &.open {
    transform: translateX(0px);
  }
}
