@import './moblieNav';

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 30px;

  height: $navbarHeight;
  background-color: $navbarBG;  
  
  
  ul.PCNav li {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    font-size: 0.8rem;

    background-color: #ddd;
  }
  
  
  .brandLogo {
    text-align: center;

    span.logo {
      cursor: pointer;
    }


    @include breakpoint-down(medium){
      width: 100%;
    }
  }



  .hamburger {
    transition: $navTransition;

    
    div {
      width: 30px;
      height: 2px;
      margin: 7px;
      background-color: $themeColor;
    }

    &.open {
      >div:first-child {
        @include transform('translateY(9px) rotate(135deg)');
      }
      >div:nth-child(2) {
        opacity: 0;
      }
      >div:last-child {
        @include transform('translateY(-9px) rotate(-135deg)');
      }
    }
  }
}







.overlay {
  position: fixed;
  top: $navbarHeight;
  right: 0;
  bottom: 0;
  left: 0;

  opacity: 0;
  pointer-events: none;

  background-color: rgba($color: #000000, $alpha: 0.2);
  transition: $navTransition;

  .open {
    opacity: 1;
    pointer-events: all;
  }
}