@import 'mobileNav';

/* ---------------------------
.         overlay
--------------------------- */
.overlay {
  // opacity: 0;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  
  background-color: rgba($color: #000000, $alpha: 0.1);
}


/* ---------------------------
.         hamburger
--------------------------- */
.hamburger {
  position: absolute;
  top: 14px;
  right: 25px;

  cursor: pointer;
  transition: all 1300ms ease-in-out;

  div {
    width: 25px;
    height: 2px;
    margin: 7px;
    background-color: #f00;
  }

  &.open {
    > div:first-child { //This translateY(height+margin)
      transform: translateY(9px) rotate(135deg);
    }
    > div:nth-child(2) {
      opacity: 0;
    }
    > div:last-child { //This translateY(height+margin)
      transform: translateY(-9px) rotate(-135deg);
    }
  }

  
}









/* ---------------------------
.         header
--------------------------- */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;



  display: flex;
  justify-content: space-between;
  align-items: center;
  


  height: $navBarHeight;
  padding: 0px 30px;



  background-color: #ffffff;
  box-shadow: $awesomeShadow;
  
  

  .brandLogo {
    font-size: $font-lg;
    font-weight: 800;
    text-align: center;
    
    @include breakpoint-down(medium){
      width: 100%;
    }


    cursor: pointer;
  }





 .PCNav li {
   display: inline-block;
   margin-left: 10px;
   padding: 10px 20px;
   background-color: #ddd;
   font-size: 0.8rem;
 }
}