html {
  height: 100%;
  box-sizing: border-box;
}


*, *::before, *::after {
  box-sizing: inherit;
}



/* --------------------------------
.             body
-------------------------------- */
body {
  margin: 0;
  padding: 0;

  background-color: $bodyBG;
  overflow-x: hidden;
  
  color: $fontColor;
  font-family: sans-serif;


  &.noscroll {
    overflow: hidden;
  }
}







/* ---------------------------
.           SCROLL
--------------------------- */
body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;  
}

body::-webkit-scrollbar-thumb {
  background: #f00;    
}







/* -------------------------
.         defaults
------------------------- */
a, a:visited, a:hover {
  text-decoration: none;
}


li {
  list-style: none;
}