main {
  min-height: 100vh;
}


footer {
  
  background-color: $themeColor;
  height: $footerHeight;

  text-align: center;
  padding-top: 30px;
  color: #fff;
  font-size: 0.9rem;

  position: relative;
}


svg.footerSVG {
  position: relative;
  top: 5px;

}

svg.headerSVG {
  position: absolute;
  top: 20px;
  transform: rotateZ(180deg) rotateY(180deg);
  
  @include breakpoint-down(medium){
    top: 50px;
  }
    
}


